<%- include('../partials/header') %>
 <h2>Hello</h2>
<ul>
  <% skills.forEach(function(s){ %>
        <li>
            <a href="/skills/<%= s.id %>">
            <%= s.skill %>
            -
            <%= s.done ? 'true' : 'false' %>
            </a>
        </li>
 <% }); %>
</ul>
<%- include('../partials/footer') %>